.Seeker {
  height: 25px;
  width: 50%;
}
.Seeker2 {
  height: 25px;
  width: 50%;
}

button {
  background-color: rgb(255, 77, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
}

h1,
h3 {
  color: rgba(255, 255, 255, 0.808);
}

body {
  margin: 0%;
  padding: 0%;
  height: 50%;
  display: flex;
  justify-content: center;
  background-image: url(https://images2.alphacoders.com/988/988363.jpg);
  background-size: auto 185%;
}
